# This is a basic workflow to help you get started with MATLAB Actions

name: MATLAB Build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  schedule:
    - cron:  '55/61 20/25 * * *' # schedule a build every month

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Start display server
        run: |
          sudo apt-get install xvfb
          Xvfb :99 &
          echo "DISPLAY=:99" >> $GITHUB_ENV
      
      # Sets up MATLAB on the GitHub Actions runner
      - name: Get MATLAB deps
        run: wget -qO- --retry-connrefused https://ssd.mathworks.com/supportfiles/ci/matlab-deps/v0/install.sh | sudo -E bash -s  -- "r2023a"
      
      - name: Get MPM
        run: mkdir /opt/mpm && wget -O /opt/mpm/mpm https://www.mathworks.com/mpm/glnxa64/mpm && chmod +x /opt/mpm/mpm && ln -s /opt/mpm/mpm /usr/local/bin/mpm

      - name: Cache MATLAB
        id: cache-matlab
        uses: actions/cache@v3
        with:
          path: /opt/matlab
          key: r2023b
      
      - name: Install MATLAB
        if: ${{ steps.cache-matlab.outputs.cache-hit != 'true' }}
        run: wget -q https://www.mathworks.com/mpm/glnxa64/mpm && chmod +x mpm && ./mpm install --release=r2023b --destination=/opt/matlab --release-status Prerelease --products  MATLAB Parallel_Computing_Toolbox 

      - name: Symlink MATLAB
        run: ln -s /opt/matlab/bin/matlab /usr/local/bin/matlab
      
      - name: Install matlab-batch
        run: wget -qO- --retry-connrefused https://ssd.mathworks.com/supportfiles/ci/matlab-batch/v0/install.sh | bash -s

      # Runs a set of commands using the runners shell
      - name: Run all tests
        uses: matlab-actions/run-tests@v1
        with:
          source-folder: pwd
          test-results-pdf: test-results.pdf

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Test Results
          path: test-results.pdf
       
      - name: Run MATLAB command
        if: always()
        uses: matlab-actions/run-command@v1
        with:
          command: |
            export("sample.mlx", "exportedLiveScript.html");
        
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Live Script Report
          path: exportedLiveScript.html
                    

      # As an alternative to run-tests, you can use run-command to execute a MATLAB script, function, or statement.
      #- name: Run all tests
      #  uses: matlab-actions/run-command@v1
      #  with:
      #    command: addpath('code'); results = runtests('IncludeSubfolders', true); assertSuccess(results);
